.vs
HouseWork/bin
HouseWork/obj
MusicOnline/bin
MusicOnline/obj
MusicOnline/CreateData/ZingMp3Api/node_modules
MusicOnline/CreateData/ZingMp3Api/package.json
MusicOnline/CreateData/ZingMp3Api/package-lock.json